@media screen and (min-width:1440px) {
    .menu-button {
        display: none;
    }

    .menu-container {
        display: none;
}

    .header-section {
        max-width: 1440px;
    }


    .navigation-list {
        display: flex;
        gap: 32px;

        font-weight: 400;
        font-size: 14px;
        line-height: 1.3em;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--text-color-primary);
    }


    .navigation-header {
        gap: 370px;
    }


    .navigation-item {
        position: relative;
    }

    .navigation-home::after
     {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    width: 4px;
    height: 4px;

    background-color: var(--background-color-body-main);

    transform: translateX(-50%);

    border-radius: 50%;

}

    .social-icon-list {
        gap: 16px;
    }

/*white-theme*/

.header-wt {
    background-color: var(--background-color-body-main);
    border-bottom:0.5px solid var(--border-bottom-color-white-theme);

}



.icon-menu-wt,
.icon-cross-wt {
    stroke: var(--main-text-color);
    fill: var(--background-color-body-main);
    }


.menu-button .icon-cross-wt {
        display: none;
    }
    
.menu-button.is-open .icon-cross-wt {
        display: block;
    }
    
.menu-button.is-open .icon-menu-wt {
        display: none;
    }


.social-icon-wt {
    stroke: var(--main-text-color);
    fill: var(--background-color-body-main);
    width: 24px;
    height: 24px;
}

.navigation-list-wt {
    display: flex;
    gap: 32px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: var(--main-text-color);
}

.navigation-home-wt::after {
    background-color: var(--main-text-color);
}

}



/*address-section*/


@media screen and (min-width: 1440px) {
    .address-section {

        position: relative;
        max-width: 1440px;
        padding-top: 100px;
        padding-right: 215px;
        padding-bottom: 100px;
        padding-left: 64px;
        background-color: var(--background-color-body-primary) ;
        margin: 0 auto;
    }


    .address-heading {
        font-size: 68px;

        margin: 0;
    }

    .addres-heading-box {
        
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        
        gap: 32px;

    } 


    .address-box {
        position: absolute;
        bottom: 105px;
        right: 215px;
    }










    .map-window {
        width: 640px;
        height: 524px;

        background-image: url(../images/map-desktop.jpg);
       
        background-position: center;
        background-size: color;

        margin: 0;
    
        box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
      
    }

    .phone-flexbox {
        display: flex;
        gap: 12px;

    }

    
    .number-phone{
        
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2em;
    
        
    
        
    }






    .address-box {
        display: flex;
        align-items: center;
        gap: 70px;
    }

    .country-location {
        margin-bottom: 0;
    }
   
    .list-phone-numbers {
        gap: 2px;
    }

}







































/*footer*/

@media screen and (min-width:1440px) {

    .footer-section {
        max-width: 1440px;
    }

    .nav-footer {
        display: flex;
        gap: 370px;
        align-items: center;
        
    }


    .navigation-list-footer {
        display: flex;
        gap: 32px;

        font-weight: 400;
        font-size: 14px;
        line-height: 1.3em;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--main-text-color);
    }

    .logo-name-footer {
        align-items: center;
       
    }

    .social-icon-footer {
        width: 24px;
        height:24px;
    }

}

















