@media screen and (min-width:768px) { 

    .header {
        
        background-color:var(--background-color-body-primary);
        border-bottom: 0.5px solid #F6F6F633;
        max-width: 100%;
        
    
    }











}






















@media screen and (max-width:767px) {
    .navigation-list {
        display: none;
    }
    
    .social-icon-list {
        display: none;
    
    }

    /*.icon-menu,
    .icon-cross {
    stroke: var(--main-text-color);

}*/

}